<div class="w-full px-4">
  <% content_for :title, "Events" %>
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl text-primary">Events</h1>
    <%= link_to "New event", new_event_path, class: "rounded-lg py-2 px-4 bg-primary text-white font-medium hover:bg-primary-hover transition", data: { turbo_frame: 'turbo_modal' } %>
  </div>

  <div class="w-full bg-table-header p-3 rounded-t-lg shadow-md grid grid-cols-5 gap-4 font-semibold text-gray-700">
    <div>Name</div>
    <div>Description</div>
    <div>Event Date</div>
    <div>Organizer</div>
    <div class='flex justify-center items-center'>Actions</div>
  </div>

    <div class="w-full bg-table-row rounded-b-lg shadow-md divide-y divide-gray-200">
      <%=turbo_frame_tag 'events' do%>
        <% @events.each do |event| %>
          <%= render event %>
        <% end %>
      <%end%>
    </div>
</div>
